*
{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 18px;
}

body
{
    /* height: 680px; */
    /* pas besoin de fixer la hauteur en fait, le scroll est désactivé */
    width: 1280px;
    background-color: black;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#entete
{
    background-image: linear-gradient(rgba(105, 86, 240, 0.57), rgb(85, 85, 85));
    height: 60px;
    width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#vies, #niveau
{
  flex: 1;
}

#score
{
  flex: 4;
  text-align: center;
}

#conteneurEnnemis
{
    /* border: 1px solid red; */
    /* Pour bloquer son contenu sous l'en-tête */
    position: absolute;
    top: 60px;
}

/* Bouge de droite à gauche dans son conteneur */
/* Et descend peu à peu (hors de son conteneur d'ailleurs..) */
#boiteEnnemis
{
    /* border: 1px solid green; */
    /* Boîte plus petite que son conteneur pour naviguer dedans */
    width: 945px;
    /* Pour une bonne répartition des colonnes d'ennemis */
    display: flex;
    justify-content: space-between;
}

.col_ennemis
{
    margin: 0 10px;
    /* Pour une bonne répartition des bestioles dedans */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Taille et couleur des belligérants */
span
{
    color: white;
    font-size: 45px;
}

#conteneurTirs
{
    /* Marge en haut de la hauteur d'une bestiole */
    margin-top: 40px;
    /* border: 1px solid yellow; */
    /* Pour des colonnes bien réparties */
    display: flex;
}

.col_tir
{
    width: 60px;
    height: 550px;
    margin: 0 10px;
    /* border: 2px solid white; */
    color: white;
    font-size: 20px;
    position: relative;
}

.bullet
{
    position: absolute;
    width: 3px;
    height: 10px;
    background: white;
    border-radius: 0 10px;
    margin-left: 25px;
}

#barre_joueur
{
    position: relative;
    width: 1280px;
    border: 1px solid blue;
}

#player
{
    position: absolute;
    left: 620px;
}
