* 
{
    margin: 0;
    padding: 0;
}

body
{
    height: 800px;
    width: 1280px;
    background-color: black;
    margin: auto;
}

#entete
{
    background-color: pink;
    height:5vh;
    width: 1280px;
}

#conteneurEnnemis
{
    border: 1px solid red;
   
    width: 1280px;
    height: 35%; 
    position: absolute;
    top: 5vh;
}

#boiteEnnemis
{
    border: 1px solid green;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.col_ennemis
{
    background-color:grey;
  /*  width: ; */
    height: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

#conteneurTirs
{
   
    /* width: 100vw; */
    height: 90%;
    width: 1280px;
    position: absolute;
    bottom: 0;
    border: 3px solid red;
}

.col_tir
{
    width: 5%;
    height: 100%;
    margin: 1%;
}

.case span
{
    color: white;
    font-size: 3vw;
}

#barre_joueur
{
    position: absolute;
    bottom: 0;
}