*
{
    margin: 0;
    padding: 0;
}

body
{
    height: 800px;
    width: 1280px;
    background-color: black;
    margin: auto;
    overflow: hidden;
}

#conteneur
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 720px;
}

#entete
{
    background-color: pink;
    height: 40px;
    width: 1280px;
    display: flex;
    justify-content: space-between;
}

#conteneurEnnemis
{
    border: 1px solid red;
    width: 1280px;
    height: 35%;
    position: absolute;
    top: 40px;
}

#boiteEnnemis
{
    border: 1px solid green;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.col_ennemis
{
    background-color:grey;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#conteneurTirs
{
    height: 600px;
    width: 1280px;
    border: 3px solid yellow;
    display: flex;
}

.col_tir
{
    width: 5%;
    height: 95%;
    margin: 1%;
    border: 2px solid white;
    color: white;
    font-size: 2em;
    text-align: center;
}

.case span
{
    color: white;
    font-size: 3vw;
}

#barre_joueur
{
    position: relative;

    width: 1280px;
    background: blue;
}

#barre_joueur case
{
    margin-left: 400px;
}
